<%- include("partials/header.ejs");  %>
	<!-- Banner -->
	<section class="banner full">
		<article>
			<img src="/images/imgn5.jpg" alt="" />
			<div class="inner"></div>
		</article>
		<article>
			<img src="/images/imgn1.webp" alt="" />
			<div class="inner"></div>
		</article>
		<article>
			<img src="/images/imgn3.jpg" alt="" />
			<div class="inner"></div>
		</article>
		<article>
			<img src="/images/imgn4.jpg" alt="" />
			<div class="inner"></div>
		</article>
		<article>
			<img src="/images/imgn10.jpg" alt="" />
			<div class="inner"></div>
		</article>
	</section>
	
	

	<!-- One -->
	<section id="one" class="wrapper style2">
		<div class="inner">
			<header class="align-center">
				<!-- <p class="special">Nam vel ante sit amet libero scelerisque
					facilisis eleifend vitae urna</p> -->
				<h2>Select any Sports</h2>
			</header>
			<div class="gallery">
				<div>
					<div class="image fit">
						<a href="bookings"><img src="/images/imgn8.jpg" alt="" height="200"/></a>
					</div>
				</div>
				<div>
					<div class="image fit" >
						<a href="bookings"><img src="/images/imgn7.jpg" alt="" height="200"/></a>
					</div>
				</div>
				<div>
					<div class="image fit">
						<a href="bookings"><img src="/images/imgn6.jpg" alt="" height="200"/></a>
					</div>
				</div>
				<div>
					<div class="image fit">
						<a href="bookings"><img src="/images/imgn9.jpg" alt="" height="200"/></a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Two -->
	<section id="two" class="wrapper style3" >
		<div class="inner">
			<header class="align-center">
				<p>"Embrace the challenge, conquer the game. In sports, we find the strength to push our limits and the spirit to unite as one team."</p>
				<p>"Where passion, perseverance, and teamwork unite to create moments of greatness."</p>
			</header>
		</div>
	</section>

	<!-- Three -->
	<section id="three" class="wrapper style2">
		<div class="inner">
			<header class="align-center">
				<!-- <p class="special">Nam vel ante sit amet libero scelerisque
					facilisis eleifend vitae urna</p> -->
				<h2>Trending Places</h2>
			</header>
			<div class="gallery">
				<div>
					<div class="image fit">
						<a href="bookings"><img src="/images/pic01.jpg" alt="" /></a>
					</div>
				</div>
				<div>
					<div class="image fit">
						<a href="bookings"><img src="/images/pic02.jpg" alt="" /></a>
					</div>
				</div>
				<div>
					<div class="image fit">
						<a href="bookings"><img src="/images/pic03.jpg" alt="" /></a>
					</div>
				</div>
				<div>
					<div class="image fit">
						<a href="bookings"><img src="/images/pic04.jpg" alt="" /></a>
					</div>
				</div>
			</div>
		</div>
	</section>


	<%- include("partials/footer.ejs");  %>